@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #5881b0;
}

.mainBlueBg {
    background-color: #5881b0;
}

.white-shadow {
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.5);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #ffffff;
}
